*{
    margin: 0;
    padding: 0;
}
body
{
    background-position: center;
    background-size: cover;
}
.logo
{
    margin-top: 18px;
}
.header
{
    height: 10%;
}
.movie-details
{
    margin: 3% 0;
}
.left-box{
    color: #fff;
    margin: 15px 0;
    padding: 20px;
}
.left-box a{
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 10px;
    margin-top: 35px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.fa {
    margin: 0 5px;
}
.movie-img{
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
}
.series-section h3{
    color: #fff;
}
.series-section img{
    width: 90%;
    height: 180px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}
.series-section img:hover 
{
    transform: translateY(-10px);
}

